*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #FFFFE0
}

h1 {
  text-align: center;
  margin-top: 40px auto;
  letter-spacing: 0.25em;
  color: #001b44;
}

.container {
  width: 80vw;
  margin: 25px auto;
}
.box {
  display: block;
  float: left;
  width: 50%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
  color: whitesmoke;
}

.start {
  display: block;
  float: right;
  width: 200px;
  height: 75px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  color: whitesmoke;
}

.start:hover {
  color: salmon;
}

@media (max-width: 740px) {
  .box {
    width: 48%;
  }
}
